{% extends "home.html" %}
{% block nuevoRegistro %}
<div class="content">
    <form action="/cader/nuevo" method="POST">
        {% csrf-field %}
        <div class="field">
            <label class="label" for="curp">CURP:</label>
            <div class="control">
                <input class="input" type="text" id="input-search" placeholder="Buscar CURP...">
                <select class="select" id="curp" name="curp" required>
                    <option value="" disabled selected hidden>Curp..</option>
                        {% for beneficiario in beneficiarios %}
                        <option value="{{beneficiario.curp}}"
                        data-nombre="{{beneficiario.nombres}}"
                        data-apellido1="{{beneficiario.primer_apellido}}" 
                        data-apellido2="{{beneficiario.segundo_apellido}}"
                        data-estado="{{beneficiario.estado_id}}" 
                        data-municipio="{{beneficiario.municipio_id}}"
                        data-localidad="{{beneficiario.localidad_id}}">
                            {{ beneficiario.curp }} - {{ beneficiario.nombres }} {{ beneficiario.primer_apellido }} {{ beneficiario.segundo_apellido }}
                        </option>
                        {% endfor %}
                </select>
                <input type="text" class="input" name="nommbre" id="nombreCompleto" placeholder="Nombre completo..." readonly>
            </div>
        </div>
        <div class="field">
            <label class="label" for="curp">Estado:</label>
            <div class="control select">
                    <select id="estado_id" name="estado_id" disabled>
                            <option value="" disabled selected hidden>Estado..</option>
                            {% for estado in estados %}
                            <option id="estado{{estado.estado_id}}" value="{{estado.estado_id}}">{{ estado.nombre }}</option>
                            {% endfor %}
                    </select>
            </div>
    </div>
    <div class="field">
            <label class="label" for="curp">Municipio:</label>
            <div class="control select">
                    <select id="municipio_id" name="municipio_id" disabled>
                            <option value="" disabled selected hidden>Municipio..</option>
                            {% for municipio in municipios %}
                            <option id="municipio{{municipio.municipio_id}}" value="{{ municipio.municipio_id }}" id="id{{ municipio.municipio_id }}municipio" data-estado-id="{{ municipio.estado_id }}">{{ municipio.nombre }}</option>
                            {% endfor %}
                    </select>
            </div>
    </div>
    <div class="field">
            <label class="label" for="curp">Localidad:</label>
            <div class="control select">
                    <select id="select_localidad" name="localidad_id" disabled>
                            <option value="" disabled selected hidden>Localidad..</option>
                            {% for localidad in localidades %}
                                <option id="localidad{{localidad.localidad_id}}" value="{{ localidad.localidad_id }}" id="id{{ localidad.localidad_id }}localidad" data-localidad-id="{{ localidad.municipio_id }}">{{ localidad.nombre }}</option>
                            {% endfor %}
                    </select>
            </div>
    </div>
        <div class="field">
            <label class="label" for="localidad_real">Localidad Real:</label>
            <div class="control">
                <div class="select">
                    <select id="localidad_real" name="localidad_real" required>
                        <option value="" disabled selected hidden>Localidad donde se entregó..</option>
                        {% for localidad in localidades %}
                        <option value="{{ localidad.nombre }}">{{ localidad.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label" for="fecha">Fecha de entrega:</label>
            <div class="control">
                <input class="input" type="date" id="fecha" name="fecha" required>
            </div>
        </div>
        <div class="field">
            <label class="label" for="hora">Hora de entrega:</label>
            <div class="control">
                <input class="input" type="time" id="hora" name="hora" required>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" required name="entrego_documentos" value="true">
                    Entregó documentos
                </label>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-primary" type="submit">Enviar</button>
            </div>
        </div>
    </form>
</div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const nuevo = document.getElementById('agregar');
        const cerrar = document.createElement('a');
        cerrar.classList.add('button', 'is-danger');
        cerrar.textContent = 'Cerrar';
        cerrar.href = '/';
        nuevo.insertAdjacentElement('afterend', cerrar);
        nuevo.style.display = 'none';
    });
    document.addEventListener("DOMContentLoaded", function() {
        var select = document.getElementById("curp");
        var input = document.getElementById("input-search");

        var options = Array.from(select.options);

        // Función para normalizar el texto
        function normalizeText(text) {
        return text.trim().toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "");
        }

        input.addEventListener("input", function() {
        var filter = normalizeText(input.value);

        options.forEach(function(option) {
        var optionText = normalizeText(option.text);
        if (optionText.includes(filter)) {
                option.style.display = "";
        } else {
                option.style.display = "none";
        }
        });
        });
        });
        document.getElementById('curp').addEventListener('change', function() {
                var select = document.getElementById('curp');
                const nombres = document.getElementById('nombreCompleto');
                var selectedOption = select.options[select.selectedIndex];
                nombres.value = selectedOption.getAttribute('data-nombre')+" "+selectedOption.getAttribute('data-apellido1')+" "+selectedOption.getAttribute('data-apellido2');
                var estado_id = selectedOption.getAttribute('data-estado');
                var selectEstado = document.getElementById('estado' + estado_id);
                selectEstado.selected = true;
                var municipio_id = selectedOption.getAttribute('data-municipio');
                var selectMunicipio = document.getElementById('municipio' + municipio_id);
                selectMunicipio.selected = true;
                var localidad_id = selectedOption.getAttribute('data-localidad');
                var selectLocalidad = document.getElementById('localidad' + localidad_id);
                selectLocalidad.selected = true;
        });
</script>
{% endblock %}