{% extends "localidades.html" %}
{% block localidades %}
<div class="content">
<h3>Estado</h3>
<hr>
<table class="table is-bordered is-striped is-narrow is-hoverable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for estado in estados %}
        <tr>
            <td>{{ estado.estado_id }}</td>
            <td>{{ estado.nombre }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br> <hr>
    <div class="options">
        <h2 class="title is-2">Agregar nuevo estado</h2>
        <form action="/localidades/estados/nuevo" method="POST">
            {% csrf-field %}
            <div class="field">
                <label class="label" for="estado">Nombre del estado:</label>
                <div class="control">
                    <input class="input" type="text" id="estado" name="nombre">
                </div>
            </div>
            <div class="control">
                <button class="button is-success" type="submit">Agregar</button>
            </div>
        </form>
    </div>
    <br> <hr>
    <div class="options">
        <h2 class="title is-2">Editar Estado</h2>
        <form action="" method="POST" id="estado-form">
            {% csrf-field %}
            <div class="field">
                <label class="label" for="estado">Estado:</label>
                <div class="control">
                    <div class="select">
                        <select id="estado_id" name="estado_id">
                            {% for estado in estados %}
                            <option value="{{estado.estado_id}}">{{ estado.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label" for="nombre">Nombre:</label>
                <div class="control">
                    <input class="input" type="text" id="nuevo_nombre" name="nuevo_nombre">
                </div>
            </div>
            <div class="control">
                <button class="button is-primary" type="submit" onclick="enviar('/localidades/estados/actualizar')">Actualizar</button>
                <button class="button is-danger" type="submit" onclick="enviar('/localidades/estados/eliminar')">Eliminar</button>
            </div>
        </form>
    </div>
    <br> <hr>
</div>
<script>
    document.getElementById('estado_id').addEventListener('change', function() {
        var select = document.getElementById('estado_id');
        var input = document.getElementById('nuevo_nombre');
        var selectedOption = select.options[select.selectedIndex];
        input.value = selectedOption.textContent;
    });
    document.addEventListener('DOMContentLoaded', function() {
        var select = document.getElementById('estado_id');
        var input = document.getElementById('nuevo_nombre');
        var selectedOption = select.options[select.selectedIndex];
        input.value = selectedOption.textContent;
    });
    function enviar(url) {
        var form = document.getElementById('estado-form');
        form.action = url;
        form.submit();
    }
</script>
{% endblock %}