{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h1>CADER QUINTANA ROO</h1>
        <label class="label" for="municipio">Municipio:</label>
        <div class="control">
            <div class="select">
                <select id="municipio" name="municipio">
                  {% for municipio in municipios %}
                    <option value="{{ municipio.nombre }}">{{ municipio.nombre }}</option>
                  {% endfor %}
                </select>
            </div>
            <input type="text" class="input" id="search" placeholder="Buscar por CURP">
        </div>
    <table>
      <thead>
        <tr>
          <th>NUM.</th>
          <th>ESTADO</th>
          <th>MUNICIPIO</th>
          <th>LOCALIDAD</th>
          <th>LOCALIDAD REAL</th>
          <th>A. PATERNO</th>
          <th>A. MATERNO</th>
          <th>NOMBRE (S)</th>
          <th>CURP</th>
          <th>FECHA DE ENTREGA</th>
          <th>HORA DE ENTREGA</th>
          <th>ENTREGO DOCUMENTOS</th>
        </tr>
      </thead>
      <tbody>
        {% for apoyo in cader%}
        <tr>
          <td>{{ apoyo.cader_id }}</td>
          <td>{{ apoyo.nombre_estado }}</td>
          <td>{{ apoyo.nombre_municipio }}</td>
          <td>{{ apoyo.nombre_localidad }}</td>
          <td>{{ apoyo.localidad_real }}</td>
          <td>{{ apoyo.primer_apellido }}</td>
          <td>{{ apoyo.segundo_apellido }}</td>
          <td>{{ apoyo.nombres }}</td>
          <td>{{ apoyo.curp }}</td>
          <td>{{ apoyo.fecha }}</td>
          <td>{{ apoyo.hora }}</td>
          <td>
            {% if apoyo.entrego_documentos %}
              ✔
            {% else %}
              X
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/apoyo" class="button is-primary" id="agregar">Agregar Registro</a>
    <section class="section">
      <div class="container">
          {% block nuevoRegistro %}
          {% endblock %}
      </div>
  </section>
  </div>
  <script>
    function filterByCurp() {
      var searchValue = document.getElementById("search").value;
      var rows = document.querySelectorAll("tbody tr");

      for (var i = 0; i < rows.length; i++) {
        var row = rows[i];
        var value = row.querySelector("td:nth-child(9)").textContent;

        if (value.includes(searchValue)) {
          row.style.display = "table-row";
        } else {
          row.style.display = "none";
        }
      }
    }
    document.getElementById("search").addEventListener("input", filterByCurp);

    document.getElementById("municipio").addEventListener("change", function() {
      var selectedValue = this.value;
      var rows = document.querySelectorAll("tbody tr");

      for (var i = 0; i < rows.length; i++) {
        var row = rows[i];
        var value = row.querySelector("td:nth-child(3)").textContent;

        if (value === selectedValue) {
          row.style.display = "table-row";
        } else {
          row.style.display = "none";
        }
      }
    });

  </script>
{% endblock %}
